body {
    background-color: #0d5971;
    color: #103043;
    font-family: 'Lato', sans-serif;

    // parte 1 - navbar 
    .fonte-header {
        color: #103043;
    }

                
    .divisao {
        background-color: #103043;
        height: 0.5vh;
    }
    

    // parte 2 - 
    .bg-image {
        background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/home.png);
        background-size: cover;
        background-repeat: no-repeat;
    
        .bg-imagem-height {
            height: 60vh;

            .fundo {
                background-color: rgba(9, 145, 169, 0.6);
                padding: 20px;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }

            .width-titulo {
                width: 50%;
            }
    
            .pa-parte2 {
                font-size: 25px;
            }
        }
    }


    // parte 3 - Coleta de lixo da cidade de São Paulo
    .margin-parte-3 {
        margin: 10vh 0 5vw 10vw;

        .imagem-parte-3 {
            width: 80%;
        }

        .rounded-cima {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .paragrafo {
            font-size: 1.5vw;
        }

        .fundo {
            background-color: #0991a9;
        }

        .rounded-baixo {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }

    //parte 4 - Projeto
    .margin-left-parte4 {
        margin-left: 8vw;

        .paragrafo {
            font-size: 1.5vw;
        }

        .fundo {
            background-color: #0991a9;
        }

        .rounded-cima {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .rounded-baixo {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }
    

    //parte 5  - Destaques

    .parte-5 {
        .rounded-cima {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .rounded-baixo {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }

        .paragrafo {
            font-size: 1.5vw;
        }

        .fundo {
            background-color: #0991a9;
        }
    }
    
    // parte 7 - formulario
    
    .parte-7 {
        .fundo {
            background-color: #0991a9;
        }

        .rounded-cima {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .rounded-baixo {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }

    // parte 8 - Sobre nós

    .margin-top-parte7 {
        margin-top: 6%;

        .margin-right-parte7 {
            margin-right: 1vw;

            .rounded-cima {
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
            }
        
            .rounded-baixo {
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }

            .nomes {
                font-size: 2vw;
                color: #103043;
            }
        }

        .nomes {
            font-size: 2vw;
            color: #103043;
        }

        .margin-right-parte7{
            margin-right: 1vw;

            .nicolas {
                width: 175px;
                border-top-left-radius: 110px;
                border-top-right-radius: 110px;
                border-bottom-left-radius: 110px;
                border-bottom-right-radius: 110px;
            }
        }
    }

    .fundo {
        background-color: #0991a9;
    }

    .rounded-cima {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .rounded-baixo {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .sobre-nos {
        width: 40%;
        padding-left: 5.5%;
    }

    .paragrafo {
        font-size: 1.5vw;
    }


    // parte 9 - footer
    .footer {
        color: #0991a9;
        height: 20vh;
        background-color: #103043;
    }
}

@media (max-width: 991px) {
    body{
        //parte 3 - Coleta de lixo na cidade de São Paulo
        .margin-parte-3 {
            .imagem-parte-3 {
                width: 100%;
            }
            .paragrafo {
                font-size: 2.5vw;
            }                
        }
        
        // parte 4 - Projeto
        .margin-left-parte4 {
            .paragrafo {
                font-size: 2.5vw;
            }
        }

        // parte 5 - Destaques
        .rounded-cima {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
    
        .rounded-baixo {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    
        .paragrafo {
            font-size: 2.5vw;
        }
    
        .fundo {
            background-color: #0991a9;
        }

        // parte 8 - Sobre nós
        .margin-top-parte7 {
            margin-top: 6%;
    
            .margin-right-parte7 {
                margin-right: 1vw;
                        
                .nomes {
                    font-size: 3vw;
                    color: #103043;
                }
            }
    
            .nomes {
                font-size: 3vw;
                color: #103043;
            }
    
            .margin-right-parte7{
                margin-right: 1vw;
            }
        }
    
        .paragrafo {
            font-size: 2.5vw;
        }
    }
}